In [1]:
import pandas as pd

In [2]:
car_dataset = pd.read_csv("/car data.csv")

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [3]:
car_dataset

    Car_Name  Year  Selling_Price  ...  Seller_Type  Transmission Owner
0       ritz  2014           3.35  ...       Dealer        Manual     0
1        sx4  2013           4.75  ...       Dealer        Manual     0
2       ciaz  2017           7.25  ...       Dealer        Manual     0
3    wagon r  2011           2.85  ...       Dealer        Manual     0
4      swift  2014           4.60  ...       Dealer        Manual     0
..       ...   ...            ...  ...          ...           ...   ...
296     city  2016           9.50  ...       Dealer        Manual     0
297     brio  2015           4.00  ...       Dealer        Manual     0
298     city  2009           3.35  ...       Dealer        Manual     0
299     city  2017          11.50  ...       Dealer        Manual     0
300     brio  2016           5.30  ...       Dealer        Manual     0

[301 rows x 9 columns]

In [4]:
car_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Kms_Driven     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Seller_Type    301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

In [5]:
car_dataset['Car_Name'].value_counts()

city                        26
corolla altis               16
verna                       14
fortuner                    11
brio                        10
                            ..
Royal Enfield Bullet 350     1
800                          1
Hero Passion X pro           1
Hero Honda Passion Pro       1
Bajaj Dominar 400            1
Name: Car_Name, Length: 98, dtype: int64

In [6]:
car_dataset.head()

  Car_Name  Year  Selling_Price  ...  Seller_Type  Transmission Owner
0     ritz  2014           3.35  ...       Dealer        Manual     0
1      sx4  2013           4.75  ...       Dealer        Manual     0
2     ciaz  2017           7.25  ...       Dealer        Manual     0
3  wagon r  2011           2.85  ...       Dealer        Manual     0
4    swift  2014           4.60  ...       Dealer        Manual     0

[5 rows x 9 columns]

In [7]:
dummy = pd.get_dummies(car_dataset)

In [8]:
dummy

     Year  Selling_Price  ...  Transmission_Automatic  Transmission_Manual
0    2014           3.35  ...                       0                    1
1    2013           4.75  ...                       0                    1
2    2017           7.25  ...                       0                    1
3    2011           2.85  ...                       0                    1
4    2014           4.60  ...                       0                    1
..    ...            ...  ...                     ...                  ...
296  2016           9.50  ...                       0                    1
297  2015           4.00  ...                       0                    1
298  2009           3.35  ...                       0                    1
299  2017          11.50  ...                       0                    1
300  2016           5.30  ...                       0                    1

[301 rows x 110 columns]

In [9]:
y = car_dataset['Selling_Price']

In [10]:
y

0       3.35
1       4.75
2       7.25
3       2.85
4       4.60
       ...
296     9.50
297     4.00
298     3.35
299    11.50
300     5.30
Name: Selling_Price, Length: 301, dtype: float64

In [11]:
x = dummy.drop('Selling_Price',axis='columns')

In [12]:
len(x.columns)

109

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
train_data,test_data,train_label,test_label = train_test_split(x,y,test_size=0.2)

In [15]:
from sklearn import preprocessing

In [16]:
train_data = preprocessing.normalize(train_data)
test_data = preprocessing.normalize(test_data)

In [17]:
len(train_data)

240

In [18]:
len(test_data)

61

In [19]:
from tensorflow.keras import models
from tensorflow.keras.layers import *

In [20]:
model = models.Sequential()

In [21]:
model.add(Dense(128,activation='relu',input_shape=(train_data.shape[1],)))
model.add(Dense(64,activation='relu'))
model.add(Dense(1))

In [22]:
train_data.shape[1]

109

In [23]:
model.compile(optimizer='rmsprop',loss='mae',metrics=['mae'])

In [24]:
model.fit(train_data,train_label,epochs=10)

Epoch 1/10
8/8 [==============================] - 1s 3ms/step - loss: 4.2614 - mae: 4.2614
Epoch 2/10
8/8 [==============================] - 0s 3ms/step - loss: 3.9594 - mae: 3.9594
Epoch 3/10
8/8 [==============================] - 0s 3ms/step - loss: 3.7671 - mae: 3.7671
Epoch 4/10
8/8 [==============================] - 0s 3ms/step - loss: 3.5922 - mae: 3.5922
Epoch 5/10
8/8 [==============================] - 0s 3ms/step - loss: 3.3956 - mae: 3.3956
Epoch 6/10
8/8 [==============================] - 0s 2ms/step - loss: 3.2720 - mae: 3.2720
Epoch 7/10
8/8 [==============================] - 0s 2ms/step - loss: 3.2221 - mae: 3.2221
Epoch 8/10
8/8 [==============================] - 0s 3ms/step - loss: 3.2099 - mae: 3.2099
Epoch 9/10
8/8 [==============================] - 0s 3ms/step - loss: 3.2011 - mae: 3.2011
Epoch 10/10
8/8 [==============================] - 0s 3ms/step - loss: 3.1856 - mae: 3.1856

In [30]:
model.save("Car_price_prediction.h5")

In [26]:
test_pred = model.predict(test_data).flatten()

In [27]:
from sklearn.metrics import mean_squared_error

In [28]:
errors = mean_squared_error(test_label,test_pred)

In [29]:
print(errors)

36.06481132091135